@using Gedoc.Helpers
@using Gedoc.Helpers.Enum
@using Newtonsoft.Json
@model Gedoc.WebApp.Models.AdjuntoModel

@{
    ViewBag.Title = "Adjunto";
    Layout = null; // "~/Views/Shared/_LayoutVacio.cshtml"; //"~/Views/Shared/_Layout.cshtml";
    var fechaEditale = false;
    ResultadoOperacion accesoForm = ViewBag.AccesoForm ?? new ResultadoOperacion(1, "OK", null);
}

<script src="~/Scripts/form.js"></script>


@Html.Partial("~/Views/Partial/TemplateTagMultiselect.cshtml", Model)


<h4 class="head-datos-form">Adjunto</h4>
<div class="div-main-form">

    <form id="formAdjunto" action="@Url.Action("Save")" class="form-datos">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a => a.RequerimientoId)
        @Html.HiddenFor(a => a.DocIngreso)

        <div class="form-row">
            <div class="col-md-3">
                <label class="label-dato-form">
                    Tipo de Adjunto<span class="marca-obligatorio" title="Este campo es obligatorio."> *</span>
                </label>
            </div>
            <div class="col-md-9">
                <select id="TipoAdjunto" name="TipoAdjunto" multiple required></select>
                <span class="k-invalid-msg" data-for="TipoAdjunto"></span><br />
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                <label class="label-dato-form">
                    Adjuntar Archivo<span class="marca-obligatorio" title="Este campo es obligatorio."> *</span>
                </label>
            </div>
            <div class="col-md-9">
                @(Html.Kendo().Upload()
                    .Name("Files")
                    .Multiple(false)
                    .HtmlAttributes(new { aria_label = "files", @class = "upload-required" })
                    .Messages(msg => msg.InvalidFileExtension("Tipo de archivo no permitido").InvalidMaxFileSize("Tamaño de archivo demasiado grande"))
                    .Events(ev => ev.Select("function onselectFile(e) { setTimeout( function() { $(':focus').blur(); }, 200); }"))
                    .Validation(validation => validation
                        .AllowedExtensions(WebConfigValues.AdjuntosPermitidos)
                        .MaxFileSize(50*1024*1024)
                    ) )
                <span class="k-invalid-msg" data-for="Files"></span>
                @*TODO: poner esta leyenda de manera dinámica tomando los datos según configuración de tipo y tamaño de archivos permitidos*@
                <span class="help-block" id="leyenda-file">@Gedoc.Helpers.GeneralData.ARCHIVOS_PERMITIDOS</span>
            </div>
        </div>


        <div class="footer-modal">
            <div class="form-row">
                <div class="offset-md-3 col-md-2 text-center">
                    <button type="button" id="btnGrabaAdjunto" class="k-primary-blue k-button" onclick="grabaAdjunto(event);">Guardar</button>
                </div>
                <div class="offset-md-2 col-md-2 text-center">
                    <button type="button" id="btnCancelaAdjunto" class="k-danger k-button" onclick="cancelaAdjunto(event);">Cancelar</button>
                </div>
            </div>
        </div>

    </form>

</div>


<script>

    @if (accesoForm.Codigo < 0)
    {
        <text>
            Main.showAlert("@Html.Raw(accesoForm.Mensaje)")
                .then(function (result) {
                    Main.cierraModal(null, false, "winFormIngreso");
                });
        </text>
    }

    $(function () {
        if ($("#TipoAdjunto").length) {
            $("#TipoAdjunto").kendoMultiSelect(
                Main.getMultiSelectConfig($("#TipoAdjunto"),
                    '@Url.Action("MantenedorGenerico", "Json")?idM=@((int) Mantenedor.TipoDocumento)'
                    ,"", ""
                    , @Html.Raw(JsonConvert.SerializeObject(Model.TipoAdjunto)) )
            );
        }

        configValidacionForm();

        Form.setDateInputLang($("#Fecha"));

        Form.inicializaForm();

    });

    function configValidacionForm() {
        var container = $("#formAdjunto");
        kendo.init(container);
        container.kendoValidator({
            rules: {
                upload: function (input) {
                    if (input[0].type == "file" && input.hasClass("upload-required")) {
                        return input.closest(".k-upload").find(".k-file").length;
                    }
                    return true;
                },
                uploadValid: function (input) {
                    if (input[0].type == "file" && input.closest('.k-upload').find('.k-file').length) {
                        return input.closest(".k-upload").find(".k-file-invalid").length == 0;
                    }
                    return true;
                }
            },
            messages: {
                required: "Este campo es obligatorio",
                upload: "Este campo es obligatorio",
                uploadValid: "Formato o tamaño de archivo no válido"
            }
        });
    }

    function grabaAdjunto(e) {

        Main.wait("Grabando...");

        var currentTarget = $(e.currentTarget);
        var form = $("#formAdjunto");

        var validator = form.data("kendoValidator");
        if (!validator.validate()) {
            Main.unwait();
            Main.showError("Por favor, revise los datos de la página. Hay datos incompletos o erróneos.");
            return false;
        }

        var data = new FormData($(form).get(0));
        var url = $(form).attr("action");
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: "json",
            processData: false, //For posting uploaded files we add this
            contentType: false, //For posting uploaded files we add this
        }).done(function (response) {
            Main.unwait();
            if (response.Codigo) {
                if (response.Codigo > 0) {
                    Main.showInfo(response.Mensaje).then(function (result) {
                        Main.cierraModal(currentTarget, true, "winFormIngreso");
                    });
                } else {
                    Main.showError(response.Mensaje, "Error");
                }
            } else {
                Main.showAlert("Error inesperado al realizar la operación, por favor, vuelva a intentarlo",
                    "Error");
            }
        }).fail(function (error) {
            Main.unwait();
            Main.showError("Ha ocurrido un error al realizar la operación, por favor, vuelva a intentarlo.",
                "Error");
        });
    };

    function cancelaAdjunto(e) {
        Main.cierraModal($(e.currentTarget), { resultado: false }, "winFormIngreso");
    };


    //# sourceURL=FormAdjunto
</script>