@using Gedoc.Helpers
@using Gedoc.Helpers.Enum

@{
    Layout = null;
}
    <script>
    function currentFilters() {
        return {
            TipoBusquedaBusqAv: '@Request["TipoBusquedaBusqAv"]',
            TipoBitacoraBusqAv: '@Request["TipoBitacoraBusqAv"]',
            FechaIngresoBusqAv: '@Request["FechaIngresoBusqAv"]',
            DocumentoIngresoIdBusqAv: '@Request["DocumentoIngresoIdBusqAv"]',
            FechaDocumentoIngresoBusqAv: '@Request["FechaDocumentoIngresoBusqAv"]',
            RequerimientoAnteriorIdBusqAv: '@Request["RequerimientoAnteriorIdBusqAv"]',
            RemitenteIdBusqAv: '@Request["RemitenteIdBusqAv"]',
            InstitucionRemitenteBusqAv: '@Html.Raw(Request["InstitucionRemitenteBusqAv"])',
            CargoProfesionRemitenteBusqAv: '@Html.Raw(Request["CargoProfesionRemitenteBusqAv"])',
            NumeroOficioCMNBusqAv: '@Request["NumeroOficioCMNBusqAv"]',
            FechaEmisionOficioCMNBusqAv: '@Request["FechaEmisionOficioCMNBusqAv"]',
            MateriaBusqAv: '@Html.Raw(Request["MateriaBusqAv"])',
            RegionBusqAv: '@Request["RegionBusqAv"]',
            ComunaBusqAv: '@Request["ComunaBusqAv"]',
            EtiquetaBusqAv: '@Request["EtiquetaBusqAv"]',
            DenominacionOficialBusqAv: '@Html.Raw(Request["DenominacionOficialBusqAv"])',
            CategoriaMonumentoNacionalBusqAv: '@Request["CategoriaMonumentoNacionalBusqAv"]',
            RolSIIPropiedadBusqAv: '@Html.Raw(Request["RolSIIPropiedadBusqAv"])',
            FechaBitacoraBusqAv: '@Request["FechaBitacoraBusqAv"]',
            UnidadTecnicaAsignadaBusqAv: '@Request["UnidadTecnicaAsignadaBusqAv"]',
            ProfesionalUTAsignadoBusqAv: '@Request["ProfesionalUTAsignadoBusqAv"]',
            CreadorBitacoraBusqAv: '@Request["CreadorBitacoraBusqAv"]',
            FormaLlegadaBusqAv: '@Request["FormaLlegadaBusqAv"]',
            EstadoBusqAv: '@Request["EstadoBusqAv"]',
            EstadoDespachoBusqAv: '@Request["EstadoDespachoBusqAv"]',
            ObservacionAcuerdoComentarioBusqAv: '@Html.Raw(Request["ObservacionAcuerdoComentarioBusqAv"])'
        }
    }

    //# sourceURL=DespachosInicTab
    </script>
<style>
    #gridDespachosIniciativas {
        font-size: 11px;
    }
    #gridDespachosIniciativas td {
        line-height: 1.1em;
    }
    #gridDespachosIniciativas .k-grid-header .k-header .k-link {
        height: auto;
    }
    #gridDespachosIniciativas .k-grid-header .k-header {
        white-space: normal;
    }
    #gridDespachosIniciativas .k-grid-header th > .k-link > .k-icon {
        float: right;
    }
    #gridDespachosIniciativas .k-grid-toolbar > span {
        float: left !important;
    }
    #gridDespachosIniciativas .k-grid-toolbar > button {
        float: left !important;
    }
    /*#tabstrip > .k-content.k-state-active {
        padding: 0;
        display: table;
    }*/
</style>
<div class="container-fluid-no" id="divResultadoBusquedaAvanzadaDespachoIniciativa" style="padding:0;">
    @*<div class="form-row">
        <div class="col-md-12">*@
            @(Html.Kendo().Grid<Gedoc.Helpers.Dto.DespachoIniciativaDto>()
                .Name("gridDespachosIniciativas")
                .Columns(columns =>
                {
                    columns.Bound(c => c.NumeroDespacho)
                        .Width(80)
                        .Title("Número Oficio")
                        .HtmlAttributes(new { @class = "text-center", @title = "Ver Oficio" })
                        .ClientTemplate("#= buildLinkOficio(data.Id, data.NumeroDespacho, true)#")
                        .Sortable(true).HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.FechaEmisionOficio).Width(140).Title("Fecha Emisión Oficio").Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.RemitenteNombre).Width(200).Title("Destinatario").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.RemitenteInstitucion).Width(300).Title("Institución Destinatario").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.Materia).Width(330).HtmlAttributes(new { style = "text-align:center;" }).Title("Materia Oficio CMN").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.MonumentoNacional.RegionTitulo).Width(160).HtmlAttributes(new { style = "text-align:center;" }).Title("Región").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.MonumentoNacional.ComunaTitulo).Width(160).HtmlAttributes(new { style = "text-align:center;" }).Title("Comuna").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.EtiquetaTitulos).Width(140).Title("Etiqueta").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.MonumentoNacional.CategoriaMonumentoNacCod).Width(220).Title("Categoría de Monumento Nacional").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.MonumentoNacional.DenominacionOficial).Width(150).Title("Denominación Oficial").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.UtAsignadaTitulo).Width(150).Title("Unidad Técnica").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.ProfesionalNombre).Width(150).Title("Profesional Asignado").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.TipoAdjuntoTitulos).Width(120).HtmlAttributes(new { style = "text-align:center;" }).Title("Tipo de Adjuntos").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.CantidadAdjuntos)
                        .Width(80)
                        .Title(" Adjuntos ")
                        .HtmlAttributes(new { @class = "text-center", @title = "Ver adjuntos" })
                        .ClientTemplate("#= buildLinkAdjuntos(data.Id, data.NumeroDespacho, data.CantidadAdjuntos)#")
                        .Sortable(true).HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.MedioDespachoTitulo).Width(140).HtmlAttributes(new { style = "text-align:center;" }).Title("Medio de Despacho").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(c => c.FechaRecepcion).Width(140).Title("Fecha Recepción").Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { style = "text-align:center;" });
                })
                //.HtmlAttributes(new { style = "height: 800px; width: 200%; display:table-row;", @class = "text-sm-center" })
                .ToolBar(t => { t.Search(); t.Excel().Text("Excel"); })
                .Excel(excel =>
                {
                    excel.FileName("DespachosIniciativas_BusquedaAvanzada.xlsx");
                    excel.AllPages(true);
                })
                .Pageable(pager => pager.AlwaysVisible(true).PageSizes(new List<object> { 5, 10, 30, 100, 250 })
                    .Messages(m => m.ItemsPerPage("registros por página")))
                .Sortable(sortable =>
                {
                    sortable.SortMode(GridSortMode.SingleColumn);
                })
                .Scrollable(scr => scr.Height("100%"))
                .NoRecords("No se encontraron datos.")
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)
                    //.Model(model =>
                    //{
                    //    model.Id(u => u.Id);
                    //    model.Field(u => u.Id).Editable(false);
                    //})
                    .Read(read => read.Action("DespachosIniciativasTab_Read", "BusquedaAvanzada").Data("currentFilters"))
                    //.Update(update => update.Action("Grid_Update", "Adjunto").Data("currentFilters"))
                    .Model(m => m.Id(id => id.Id))
                    .PageSize(5)
                )
            )
        @*</div>
    </div>*@
</div>

<script>

    kendo.culture("es-ES"); // Tiene el formato de fecha dd/MM/yyyy q es el q se usa en la aplicación, la cultura es-CL tiene formato dd-MM-yyyy

    $(function () {
        kendo.ui.progress($("#divResultadoBusquedaAvanzadaDespachoIniciativa"), true);

        $(".k-textbox.k-grid-search input").attr("placeholder", "Buscar...");
        //$(".k-pager-sizes.k-label").html($(".k-pager-sizes.k-label").html().replace("items per page", "elementos por página"));

        $("#gridDespachosIniciativas th.k-header a.k-link").each(function () {
            var colText = $(this).html();
            var newText = colText + '<span class="k-icon k-i-kpi" style="color: lightgray;"></span>';
            $(this).html(newText);
        });

        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('items per page', 'elementos por página');
        });
    });

    //# sourceURL=DespachosInicTab2

</script>
